[Unit]
Description=ZWave Matrix Abstraction Layer for OS

[Service]
Type=simple
ExecStart=/usr/share/admobilize/matrix-creator/matrix-malos-zwave.sh

[Install]
WantedBy=multi-user.target
After=zipgateway.service
